APP_ENV=prod
APP_DEBUG=0
APP_SECRET=change_me_to_a_long_random_secret

# Database
SYMFOCONNECT_DATABASE_URL="mysql://app:change_me@127.0.0.1:3306/symfoconnect_db?serverVersion=8.0&charset=utf8mb4"

# Mailer
MAILER_DSN="smtp://user:pass@smtp.example.com:587"

# Messenger transport (ex: doctrine, amqp, redis)
MESSENGER_TRANSPORT_DSN="doctrine://default?auto_setup=0"
