{% extends 'base.html.twig' %}

{% block title %}Nouveau post | SymfoConnect{% endblock %}

{% block body %}
    <h1 class="section-title">Creer un post</h1>

    <div class="card js-reveal">
        {{ form_start(postForm) }}
            {{ form_row(postForm.content) }}
            <button type="submit">Publier</button>
        {{ form_end(postForm) }}
    </div>

    <p class="muted">
        Le post est attribue au premier utilisateur cree (authentification prevue au Jour 2).
    </p>
{% endblock %}
